.container {
  background-color: var(--bgSoft);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.filters {
  padding: 10px 10px 0px 10px;
  display: flex;
  gap: 20px;
  font-size: 14px;
  justify-content: space-between;
}

.filters input {
  /* width: 100%; */
  background-color: var(--inputBg);
  border: 1px solid black;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  color: black;
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
}

.filters select {
  /* width: 100%; */
  background-color: var(--inputBg);
  border: 1px solid black;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  color: black;
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  gap: 20px;
}

.filters label {
  padding-top: 5px;
}

.search {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: var(--buttonBlue);
  cursor: pointer;
}

#ag-theme-id {
  height: 450px;
  --ag-grid-size: 10px;
  --ag-list-item-height: 60px;
  --ag-selected-row-background-color: rgba(0, 12, 120, 0.26);
  --ag-odd-row-background-color: rgb(241, 241, 241);
  --ag-header-background-color: rgb(202, 202, 202);
}

.aggrid {
  height: 60vh;
}

.backToList {
  background-color: var(--bgSoft);
}

.backToList button {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: var(--buttonBlue);
  border: solid 1px gray;
  /* border-color: red; */
  cursor: pointer;
}

.viewEdit {
  margin-top: 10px;
}

.viewEdit button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: var(--buttonBlue);
  cursor: pointer;
}

.quickSearch {
  margin-top: 5px;
  font-size: 14px;
}

.quickSearch input {
  background-color: var(--inputBg);
  border: 1px solid black;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  color: blue;
  font-weight: 800;
  font-size: 14px;
  background-color: rgb(166, 247, 204);
}

.quickSearch input:focus {
  outline: none;
}
