.container1 {
  background-color: var(--bgSoft);
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.container {
  max-height: 100vh;
  min-height: 75vh;
}

.form {
  margin-top: 40px;
  display: grid;
  align-items: left;
  gap: 10px;
  width: 400px;
  margin-left: 40px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.row input {
  width: 100%;
  background-color: var(--inputBg);
  border: 1px solid black;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  color: black;
  font-weight: 800;
  font-size: 14px;
  padding-right: 20px;
}

.row select {
  width: 100%;
  background-color: var(--inputBg);
  border: 1px solid black;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  color: black;
  font-weight: 800;
  font-size: 14px;
  padding-right: 20px;
}

.buttonDiv button {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--buttonBlue);
}
