.container {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  background-color: var(--bgSoft);
}

.title {
  color: var(--textSoft);
  font-weight: bold;
  text-transform: capitalize;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #2e374a;
  padding: 10px;
  border-radius: 10px;
}

.input {
  background-color: transparent;
  border: none;
  color: var(--text);
}

.icon {
  display: flex;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userImage {
  border-radius: 50%;
  object-fit: cover;
}

.userDetails {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: 500;
}

.userTitle {
  font-size: 12px;
  color: var(--textSoft);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinkingText {
  animation: blink 1s infinite; /* Adjust the duration as needed */
  color: red;
}

.labeltxt {
  color: green;
}
