.container {
  position: sticky;
  top: 20px;
  max-height: 100vh;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.banner {
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
}

.divList {
  position: relative;
  margin-top: 10px;
}

.list {
  list-style: none;
}

.cast {
  color: var(--textSoft);
  font-weight: bold;
  font-size: 13px;
  margin: 10px 0px;
}

.logout {
  padding: 10px;
  margin: 5px 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  color: white;
  width: 100%;
}

.logout:hover {
  background-color: #2e374a;
}
