.container {
  background-color: var(--bgSoft);
  padding: 8px;
  border-radius: 10px;
  display: grid;
  gap: 10px;
  cursor: pointer;
  grid-template-columns: 1fr;
  border: 1px solid rgb(41, 41, 41);
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.number {
  font-size: 20px;
  font-weight: 450;
  text-align: center;
}

.detail {
  font-size: 14px;
  font-weight: 300;
}

.positive {
  display: grid;
  color: rgba(0, 255, 0, 0.522);
  text-align: right;
  font-size: 16px;
}

.negative {
  display: grid;
  color: rgba(255, 0, 0, 0.64);
  text-align: right;
  font-size: 16px;
}

.neutral {
  display: grid;
  color: yellow;
  text-align: right;
  font-size: 16px;
}

.sub {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.title {
  display: grid;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.372);
}
