.container {
  padding: 7px;
  display: flex;
  align-items: center;
  gap: 7px;
  margin: 5px 0px;
  border-radius: 10px;
}

.container:hover {
  background-color: #2e374a;
}

.list {
  margin-left: 15px;
  list-style: none;
  background-color: var(--bg);
  border-radius: 5px;
}

.drop {
  rotate: 180deg;
}

.hide {
  display: none;
}
