.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    width: 400px;
    height: 400px;
    padding: 50px;
    border-radius: 50px;
    background-color: var(--bgSoft);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--text);
    border: none;
}

.form button{
    padding: 8px;
    background-color: indigo;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 100%;
}