.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  width: 400px;
  height: 400px;
  padding: 50px;
  border-radius: 15px;
  background-color: var(--bgSoft);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: solid 1px gray;
}

.form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--bg);
  color: var(--text);
  border: none;
}

.form button {
  padding: 8px;
  background-color: indigo;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 100%;
}

.banner {
  border-radius: 5px;
  margin-bottom: 10px;
}

.pass {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.pass button {
  width: 50px;
  background-color: white;
  border-radius: 0 5px 5px 0 !important;
  color: black;
}

.pass input {
  border-radius: 5px 0 0 5px !important;
}

.toggleButtonGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* .toggleButton {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

.toggleButton input {
  display: none;
}

.toggleButton label {
  padding: 7px 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggleButton input:checked + label {
  background-color: red;
  color: white;
}
